.loginForm1 {

    text-align: center;
    width: 30%;
    height: 12.5rem;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}
.loginForm2 {
    
    text-align: center;
    width: 55%;
    height: 12.5rem;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}